### Assignment Overview
In this assignment, we work with the provided *salary data* to develop a Jupyter Notebook. The objective is to perform various tasks related to data processing, error handling, and file handling using Python.

### Assignment Description
The assignment consists of the following tasks:

- Import Data:


 - Import the provided salary data into your Jupyter Notebook.

- Create Employee Function:

 - Develop a Python function that accepts an employee's name as input and returns their details.
 - Data Processing with Dictionary:

- Process the salary data using a Python dictionary.
- Error Handling:

 - Implement error handling in your code to address potential issues gracefully.

- Export Employee Details:

 - Export an employee's details to a CSV file and save it within a zipped folder named "Employee Profile."
 - Unzip and Display Data with R:

- Use R to unzip the folder created in step 5 and display the data.

In [1]:
# Import the required libraries
import pandas as pd
import numpy as np

In [2]:
# Load the data as a Dataframe
df = pd.read_csv("data/Total.csv")

# Inspect the first five rows
df.head(5)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,Not Provided,326373.19,326373.19,2011