### Assignment Overview
In this assignment, we work with the provided *salary data* to develop a Jupyter Notebook. The objective is to perform various tasks related to data processing, error handling, and file handling using Python.

### Assignment Description
The assignment consists of the following tasks:

- Import Data:


 - Import the provided salary data into your Jupyter Notebook.

- Create Employee Function:

 - Develop a Python function that accepts an employee's name as input and returns their details.
 - Data Processing with Dictionary:

- Process the salary data using a Python dictionary.
- Error Handling:

 - Implement error handling in your code to address potential issues gracefully.

- Export Employee Details:

 - Export an employee's details to a CSV file and save it within a zipped folder named "Employee Profile."
 - Unzip and Display Data with R:

- Use R to unzip the folder created in step 5 and display the data.

In [1]:
# Import the required libraries
import pandas as pd
import numpy as np

In [62]:
# Load the data as a Dataframe
salary_data = pd.read_csv("data/Total.csv")

# Inspect the first five rows
salary_data.head(5)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,Not Provided,326373.19,326373.19,2011

In [63]:
# Inspect the shape of the data
print(salary_data.shape)

(312882, 9)

The data has a total of 312882 records, with 9 columns viz: Employee Name, Job Title, base pay, Over time, Other pay, benefits, Total pay, Total pay benefits and the Year.

### Data Cleaning

We will create a function that handles all the data cleaning for our dataset. This includes removing of duplicates, converting columns into their respective data types and trimming of white spaces.

In [64]:
def clean_salary_data(data):
    try:
        # Remove records where the Employee name is missing
        cleaned_data = data.dropna(subset=['EmployeeName'])
        
        # Trim whitespace from 'EmployeeName'
        cleaned_data['EmployeeName'] = cleaned_data['EmployeeName'].str.strip()
        
        # Convert numerical columns to appropriate types
        numeric_columns = ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits']
        cleaned_data[numeric_columns] = cleaned_data[numeric_columns].apply(pd.to_numeric, errors='coerce')
        
        # Fill missing values in numeric columns with 0
        cleaned_data[numeric_columns] = cleaned_data[numeric_columns].fillna(0)
        
        return cleaned_data

    except Exception as e:
        return f"The program encountered an error while cleaning the data: {str(e)}"

In [65]:
# Call the function to clean the salary data
clean_salary_data = clean_salary_data(salary_data)

In [67]:
# Inspect the cleaned data
print(clean_salary_data.shape)

(312882, 9)

In [69]:
# Let's create a function that takes in an employee's name and returns their details

def employee_details(employee_name):
    details = clean_salary_data[clean_salary_data['EmployeeName'].str.contains(employee_name, case=False, na=False)]
    
    # Implement a check to find if any employee details are found
    if not details.empty:
        return details
    else:
        return f"No information found for {employee_name}"

In [70]:
# Call the function to print details for one of the employees
employee_details('PATRICK KAMAU')

'No information found for PATRICK KAMAU'

In [60]:
# Process the salary data using a Python dictionary. We create a function to do this.

def process_employee_data(data):
    try: # Exception handler
        
        salary_data_dictionary = {} #create an empty dictionary to hold the salary data
        
        for index, row in data.iterrows():
            
            employee_name = row['EmployeeName'].strip().upper()
            
            employee_information = {
                'JobTitle': row['JobTitle'],
                'BasePay': row['BasePay'],
                'OvertimePay': row['OvertimePay'],
                'OtherPay': row['OtherPay'],
                'Benefits': row['Benefits'],
                'TotalPay': row['TotalPay'],
                'TotalPayBenefits': row['TotalPayBenefits'],
                'Year': row['Year']
            }
        
        salary_data_dictionary[employee_name] = employee_information
        
        print("Employee names in dictionary (sample):", list(salary_data_dictionary.keys())[:30])
        
        return salary_data_dictionary
    
    except Exception as e:
        return f"The program encountered an error while processing the data: {str(e)}"

In [61]:
# Process the data into a dictionary
salary_data_dictionary = process_employee_data(df)

Employee names in dictionary (sample): ['DEBORA E HOWARD']

In [53]:
# We create a function to get the employee details from the dictionary above

def get_employee_details(employee_name, salary_data_dictionary):
    
    try:
        # Check if the employee exists in the dictionary
        
        if employee_name in salary_data_dictionary:
            return salary_data_dictionary[employee_name]
        else:
            return f"No information found for: {employee_name}"

    except Exception as e:
        return f"The program encountered an error while processing the data: {str(e)}"

In [54]:
employee_details = get_employee_details('ALBERT PARDINI', salary_data_dictionary)
employee_details

'No information found for: ALBERT PARDINI'